[Unit]
Description=Lemonade
After=network.target

[Service]
ExecStart=sleep 10; zsh -c "source $HOME/.zshrc && /usr/bin/lemonade server"
ExecStop=bash -c "killall -q lemonade"
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
