[user]
	name = rock-tran
  email = rock.tran@manadr.com

[core]
  editor = nvim
	autocrlf = input
  ; pager = delta
  pager = delta
  ; pager = delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}
  ; pager = delta --dark
[delta]
  line-numbers = true
  zero-style = dim syntax
  syntax-theme = Dracula
  plus-style = bold syntax "#002800"
  navigate = true

[interactive]
  diffFilter = delta --color-only

[merge]
	tool = intelliJ

[diff]
	tool = intelliJ
  colorMoved = default
  prompt = false

[mergetool]
  tool = intelliJ
  keepBackup = false

[difftool "intelliJ"]
  cmd = "~/ProgramFiles/idea-IC/bin/idea.sh" diff $(cd $(dirname \"$LOCAL\") && pwd)/$(basename \"$LOCAL\") $(cd $(dirname \"$REMOTE\") && pwd)/$(basename \"$REMOTE\")

[mergetool "intelliJ"]
  cmd = "~/ProgramFiles/idea-IC/bin/idea.sh" merge $(cd $(dirname \"$LOCAL\") && pwd)/$(basename \"$LOCAL\") $(cd $(dirname \"$REMOTE\") && pwd)/$(basename \"$REMOTE\") $(cd $(dirname \"$BASE\") && pwd)/$(basename \"$BASE\") $(cd $(dirname \"$MERGED\") && pwd)/$(basename \"$MERGED\")
  trustedExitCode= true

[alias]
lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
lg = !"git lg1"
dt = difftool --dir-diff
[safe]
  directory = *
