let mapleader=" "

""" Plugins  --------------------------------
set surround
" set multiple-cursors
" set commentary
set argtextobj
set easymotion
set notimeout
set highlightedyank
set NERDTree
" set textobj-entire
" set ReplaceWithRegister
" set exchange
" Trying the new syntax
" Plug 'machakann/vim-highlightedyank'

""" Plugin settings -------------------------
" let g:argtextobj_pairs="[:],(:),<:>"

" <C-n> seems to me as a better solution than <M-n>,
" but we should finally support vim-visual-multi because vim-multiple-cursors is deprecated now
" map <C-n> <Plug>NextWholeOccurrence

""" Common settings -------------------------
set clipboard+=unnamed
set clipboard+=ideaput
set scrolloff=5
set showmode
" set so=5
set incsearch
set nu

""" Idea specific settings ------------------
" set ideajoin
" set ideastatusicon=gray

""" My Mappings -----------------------------
" Reload config
nnoremap <leader>si :source ~/.ideavimrc<CR>

" map <leader>d <Action>(Debug)
" map <leader>r <Action>(RenameElement)
" map <leader>c <Action>(Stop)
" map <leader>z <Action>(ToggleDistractionFreeMode)

" map <leader>s <Action>(SelectInProjectView)
" map <leader>a <Action>(Annotate)
" map <leader>h <Action>(Vcs.ShowTabbedFileHistory)

" Navigation
map <S-Space> <Action>(GotoNextError)
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>

map <leader>b <Action>(ToggleLineBreakpoint)
" map <leader>o <Action>(Open)
nnoremap <M-h> :action Terminal.OpenInTerminal<CR>
" map <leader>J Ji <ESC>

" Just makes me nervous
" map H h

" Toggle case and start typing. E.g. `<leader>iget`: `property` -> `getProperty`
" map <leader>i ~hi
" Remove selection and toggle case. E.g. `v2l<leader>u`: `getProperty` -> `property`
" vmap <leader>u d~h

" I think it's a better solution
" map U <C-R>


" Searching and Source Code Navigation
nnoremap gr :action FindUsages<CR>
nnoremap gd :action GotToDeclaration<CR>
" Reformat the current line only
map <leader>fm <Action>(ReformatCode)
map K <Action>(QuickJavaDoc)
nnoremap <Leader>ff :action GotoFile<CR>
nnoremap <Leader>fw :action FindInPath<CR>
map <leader>lg <Action>(CheckinProject)
map <leader>f <Plug>(easymotion-s)
map <leader>/ <action>(CommentByLineComment)
nnoremap <C-n> :NERDTreeToggle<CR>
